$color-theme-main: rgba(91, 75, 73, 1)
$color-theme-alt: rgba(33, 145, 251, 1)
$color-theme-light: rgba(5, 142, 217, 1)
$color-theme-past1: rgba(244, 235, 217, 1)
$color-theme-past2: rgba(163, 154, 146, 1)
$color-error: #CB4B4B